__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.coverage
htmlcov
*.egg-info
build
dist
.env
.venv
venv
env
.git
.gitignore
.idea
.vscode
.DS_Store
tests
*.md
docker-compose.yml
.dockerignore
Dockerfile
